@import 'utilidades/variables';

@mixin flexCenter($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

%textHighlight {
  color: $primaryTextColor;
  font-weight: bold;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flexCenter(column);
  min-height: 100vh;
}

header {
  background-color: $accentColor;
  @include flexCenter(row, space-between, center);
  padding-right: 20px;

  img {
    width: 10%;
  }

  nav ul {
    list-style: none;
    @include flexCenter(row);
    gap: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: $primaryTextColor;
  }
}

$sections: sobremi, habilidades, proyectos, contacto, faq;

@each $section in $sections {
  ##{$section} {
    @extend %textHighlight;
  }
}

footer {
  @include flexCenter(column, center, center);
  background-color: $primaryBgColor;
  color: $primaryTextColor;
  margin-top: auto;

  .textoRedes, .textoDerechosreservados {
    text-align: center;
    margin-bottom: 10px;
  }

  .redesSociales {
    @include flexCenter(row, center, center);
    gap: 30px;
    margin-top: 10px;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.SobreMi {
  @include flexCenter();
  .presentacion {
    text-align: center;

    h1 span, p span {
      display: block;
    }
  }

  .imgPresentacion {
    @include flexCenter();

    img {
      width: 70%;
      border-radius: 50%;
      margin-top: 20px;
    }
  }
}

.misProyectos {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $shadow;
  margin: 20px auto;
  max-width: 800px;

  h1 {
    text-align: center;
    color: #2a4d69;
    margin-bottom: 20px;

    span {
      border-bottom: 3px solid #4b86b4;
      padding-bottom: 5px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: $primaryTextColor;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}

.aptitudes, .certificados {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $shadow;

  h2 {
    text-align: center;
    color: $primaryBgColor;
    margin-bottom: 20px;
    border-bottom: 2px solid $primaryBgColor;
    padding-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    background-color: $primaryTextColor;
    padding: 15px;
    border-left: 5px solid $primaryBgColor;
    border-radius: 5px;
    color: $accentColor;
    line-height: 1.6;
  }
}

.certificados ul li a {
  color: $primaryBgColor;
  text-decoration: none;
  font-weight: bold;
}

.contacto {
  @include flexCenter();
  margin: 20px;

  form {
    background-color: $highlightColor;
    border: 2px solid $primaryBgColor;
    border-radius: 10px;
    padding: 20px;
    box-shadow: $shadow;
    width: 100%;
    max-width: 400px;
  }
}

.FAQ {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $shadow;
}




